In [22]:
import pandas as pd
# loading the data
fp = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/rolling-averages/us-states.csv'
df = pd.read_csv(fp) 

# Creating the National Average

national_average = df.groupby('date')['cases_avg_per_100k'].mean()

national_average = pd.DataFrame(national_average).reset_index()
national_average['state'] = 'National Average'

df = df.append(national_average)

/var/folders/4w/4f8yp1td7l7_p77z3vdgy0dh0000gn/T/ipykernel_8729/2009917300.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(national_average)

In [25]:
df['date'].iloc[0] > '2020-01-22'

False

In [29]:
import datetime 
tod = datetime.datetime.now()
d = datetime.timedelta(days = 50)
a = tod - d

# a.strptime()
df['datetime'] = pd.to_datetime(df['date'])

df.head()

,date,geoid,state,cases,cases_avg,cases_avg_per_100k,deaths,deaths_avg,deaths_avg_per_100k,datetime
0,2020-01-21,USA-53,Washington,1.0,0.14,0.0,0.0,0.0,0.0,2020-01-21
1,2020-01-22,USA-53,Washington,0.0,0.14,0.0,0.0,0.0,0.0,2020-01-22
2,2020-01-23,USA-53,Washington,0.0,0.14,0.0,0.0,0.0,0.0,2020-01-23
3,2020-01-24,USA-53,Washington,0.0,0.14,0.0,0.0,0.0,0.0,2020-01-24
4,2020-01-24,USA-17,Illinois,1.0,0.14,0.0,0.0,0.0,0.0,2020-01-24

In [35]:
df[df['datetime'] > a]['date'].max()

'2022-11-12'

In [19]:
z = pd.concat([df, national_average])

In [20]:
z

,date,geoid,state,cases,cases_avg,cases_avg_per_100k,deaths,deaths_avg,deaths_avg_per_100k
0,2020-01-21,USA-53,Washington,1.0,0.14,0.000000,0.0,0.0,0.0
1,2020-01-22,USA-53,Washington,0.0,0.14,0.000000,0.0,0.0,0.0
2,2020-01-23,USA-53,Washington,0.0,0.14,0.000000,0.0,0.0,0.0
3,2020-01-24,USA-53,Washington,0.0,0.14,0.000000,0.0,0.0,0.0
4,2020-01-24,USA-17,Illinois,1.0,0.14,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
1022,2022-11-08,NaN,National Average,NaN,NaN,11.961429,NaN,NaN,NaN
1023,2022-11-09,NaN,National Average,NaN,NaN,12.175179,NaN,NaN,NaN
1024,2022-11-10,NaN,National Average,NaN,NaN,12.436607,NaN,NaN,NaN
1025,2022-11-11,NaN,National Average,NaN,NaN,12.423214,NaN,NaN,NaN
1026,2022-11-12,NaN,National Average,NaN,NaN,12.366071,NaN,NaN,NaN